
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
  cosas que son útiles para entender CSS:
  - Box model 
 */

:root {                         /* Variables de CSS */
    --text-light: #D6D3D6;
    --text-dark: #0F0F0F;
    --text-muted: #595659;
    --text-white: #fff;
    --bg-light: #D6D3D6;
    --bg-dark: #0F0F0F;
}

body {                          /* estilos que tienen todos */
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-family: "Montserrat";
    margin: 0;
    width: min(100% , 700px);
    background-color: var(--bg-light);
    margin-inline: auto;
    font-size: 14px;
    color: var(--text-dark);
}

header {                        /* estilo de titulo*/
    padding: 1em;
}

section {
    padding-inline: 1em;
}

footer {
    padding-inline: 1em;
    padding-bottom: 1em;
}

article {
    padding-block: 1em;
}

a {                             /* estilo de un link */
    color: 1px solid var(--text-dark);
    font-weight: bold;
}

p {                             /*estilo del párrafo*/
    line-height: 1.6em;
}

.title-page {                   /* estilo de la pagina de inicio */
    /*
      este estilo es una 'clase' de css
   */
    padding-top: 300px;
    color: var(--text-white);

    /*
      Cambia el fondo por la imagen del taller y la obscurece un poco
     */
    background: linear-gradient(rgba(15,15,15,0.4),rgba(15,15,15,15.7)),
                url("../images/panel.jpg");
}
      
/* estilos de la barra de navegacion */
nav {
    padding-inline: 1em;
    padding-block: 1em;
    display: flex; 
    justify-content: space-between; 
}

nav a {
    color: var(--text-dark);
    text-decoration: none ;
    font-weight: bold;
}

nav ul {
    display: flex; 
    list-style: none; 
}

nav li {
    padding-left: 1rem;
}
